.barChart_wrapper{
    margin: 24px 0px;
}

.chart_wrapper{
    position: relative;
    height: 500px;
}
.barChart_wrapper h1{
    margin-bottom: 16px;
}
.yearRangePicker_wrapper{
    display: flex;
    width: 80%;
    margin-left: 10%;
    justify-content: flex-end;
    gap: 10px;
}
.yearRangePicker_wrapper > div{
    display: flex;
    align-items: center;
}

.yearRangePicker_wrapper input{
    height: 22px;
    border: 2px solid #1FD69F;
    border-radius: 5px;
    margin: 0px 5px;
    width: 75px;
}



@media (max-width: 767px){
    .barChart_wrapper{
        width: 100%;
        margin-left: 0%;
        height: 350px;
      
    }
}